extends layout

block content
  h1= title
  p Bem-vindo a versão da Tefi do LocalLibrary, um site Express muito básico desenvolvido como um exemplo de tutorial na Mozilla Developer Network.

  h1 Conteúdo dinâmico

  p A biblioteca tem as seguintes contagens de registros:

  ul
    li #[strong Livros:] !{book_count}
    li #[strong Cópias:] !{book_instance_count}
    li #[strong Cópias disponíveis:] !{book_instance_available_count}
    li #[strong Autores:] !{author_count}
    li #[strong Generos:] !{genre_count}

